@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Rubik:wght@400;500;700&display=swap");
:root {
  --Cyan: hsl(180, 66%, 49%);
  --Dark-Violet: hsl(257, 27%, 26%);
  --Red: hsl(0, 87%, 67%);
  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500, 700;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
.navbar-link {
  color: var(--Grayish-Violet);
}
.nav-buttons-1 {
  background: none;
  border: none;
  font-size: 18px;
  color: var(--Grayish-Violet);
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.nav-buttons-2 {
  background: var(--Cyan);
  border: none;
  font-size: 16px;
  border-radius: 2rem;
  font-weight: 700;
  color: white;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.nav-buttons-2:hover {
  background-color: #ff5733;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4rem;
  list-style: none;
}

.nav-buttons {
  display: flex;
  gap: 2rem;
}
.upper-front {
  display: flex;

  justify-content: space-between;
}
.upper-front-left {
  /* border: 1px solid blue; */
  margin: auto;
  padding-top: 4rem;
  padding-left: 4rem;
  padding-bottom: 4rem;
}
.upper-front-left h1 {
  font-size: 4rem;
}
.upper-front-left p {
}
.upper-front-left-button {
  background: var(--Cyan);
  border: none;
  font-size: 16px;
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.upper-front-left-button:hover {
  background-color: #ff5733;
}
.upper-front-right {
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.upper-front-right img {
  padding-top: 4rem;
  position: relative;
  right: -6rem;
  max-width: 100%;
  height: auto;
}
.lower-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  padding: 6rem;
}
#urlForm {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 90%;
  padding: 3rem;
  border-radius: 1rem;
  background-image: url("./images/bg-shorten-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--Dark-Violet);
  position: relative;
  top: -8rem;
}
#urlInput {
  width: 90%;
  padding: 1rem;
  font-size: 20px;
  border-radius: 1rem;
  border: none;
}
#shortenButton {
  width: 20%;
  font-weight: 700;
  background: var(--Cyan);
  border: none;
  font-size: 16px;
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
#shortenButton:hover {
  background-color: #ff5733;
}
.drop-down {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 90%;
  font-size: 16px;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  position: relative;
  /* top: -4rem; */
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(-20px);
}
.drop-down-button {
  width: 20%;
  font-weight: 700;
  background: var(--Cyan);
  border: none;
  font-size: 16px;
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.drop-down-button:hover {
  background-color: #ff5733;
}
.drop-down-given,
.drop-down-new {
  font-size: 14px; /* Adjust the font size */
  color: var(--Grayish-Violet);
}
.drop-down-new {
  color: var(--Cyan);
  text-decoration: none; /* Remove underlines */
}
.drop-down-new:hover {
  text-decoration: underline; /* Add underline on hover */
}

.boxes {
  display: flex;
  text-align: center;
  width: 60rem;
  gap: 3rem;
}
.img-box {
  position: relative;
  left: -4rem;
  top: -1.5rem;
  background-color: var(--Very-Dark-Violet);
  padding: 1rem;
  border-radius: 50%;
}
.lower-lower-front {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./images/bg-boost-desktop.svg);
  background-color: var(--Dark-Violet);
  padding: 4rem;
  font-weight: 700;
  font-size: 22px;
  color: white;
}
.footer {
  display: flex;
  background-color: var(--Very-Dark-Violet);
  color: white;
  justify-content: space-between;
  padding: 2rem;
  /* align-items: center; */
}
.footer-links {
  display: flex;
  list-style: none;
  gap: 2rem;
  line-height: 2rem;
}
.each-box {
  border-radius: 1rem;
  line-height: 2rem;
}
.each-box h2 {
  font-size: 16px;
}
.each-box p {
  color: var(--Gray);
}
.info-box p {
  color: var(--Grayish-Violet);
}
.lower-lower-front button {
  background: var(--Cyan);
  border: none;
  font-size: 16px;
  border-radius: 2rem;
  font-weight: 700;
  color: white;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.lower-lower-front button:hover {
  background-color: #ff5733;
}
.error-message {
  z-index: 1;
}
@media (max-width: 1000px) {
  .upper-front {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .upper-front-left {
    /* border: 1px solid blue; */
    margin: auto;
    padding-top: 2rem;
    padding-left: 2rem;
  }
  .lower-front {
  }
  .boxes {
    flex-wrap: wrap;
    max-width: 10rem;
    gap: 1.5rem;
    position: relative;
    top: 2rem;
  }
  #urlForm {
    flex-wrap: wrap;
    justify-content: center;
    top: -3rem;
    min-width: 10rem;
  }
  #urlInput {
    width: 10rem;
    font-size: 16px;
  }
  #shortenButton {
    font-weight: 700;
    font-size: 14px;
    width: 6rem;
  }
  .drop-down {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 14rem;
  }
  .drop-down-button {
    width: 6rem;
  }
  .navbar {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer {
    flex-direction: column;
  }
  .footer-links {
    flex-wrap: wrap;
  }
  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .upper-front-right img {
    display: flex;
    position: relative;
    right: 0;
  }
}
